{% extends 'base.html' %}

{% block body %}
    <div style="margin-bottom: 30px;">
      <div class="d-flex">
        <div>
          <img src="https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}" alt="" width="250px" height="280px">
        </div>
        <div class="ml-5">
          <p>{{ movie.title }}</p>
          <p>{{ movie.overview }}</p>
          <a href="{% url 'reviews:movie_create_review' movie.pk %}">리뷰쓰기</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="mt-4 container">
      <div class="row">
          {% for review in movie.movie_reviews.all %}
              <div class="col-4 mb-3" style="height: 212px;">
                  <a data-toggle="modal" href="#reviewDetail{{ review.pk }}">
                      <img src="{{ review.review_images.first.image_files.url }}" width="100%" height="100%">
                  </a>
                  <div id="reviewDetail{{ review.pk }}" class="modal" role="dialog">
                      <div class="modal-dialog" style= "max-width: 75%; width: 75%; height: 500px; display: table; top: 10%;">
                          <div class="modal-content" style="height: 100%;">
                              <div class="card" style="height: 100%;">
                                  <div class="row no-gutters" style="height: 100%;">
                                    <div class="col-md-7">
                                      <div id="reviewImages{{ review.pk }}" class="carousel slide" data-ride="carousel" data-interval="false">
                                          <div class="carousel-inner">
                                              {% for image in review.review_images.all %}
                                                  {% if forloop.counter == 1 %}
                                                      <div class="carousel-item active" style="width: 100%; height: 500px;">
                                                          <img src="{{ image.image_files.url }}" class="card-image" width="100%" height="100%">
                                                      </div>
                                                  {% else %}
                                                      <div class="carousel-item" style="width: 100%; height: 500px;">
                                                          <img src="{{ image.image_files.url }}" class="card-image" width="100%" height="100%">
                                                      </div>
                                                  {% endif %}
                                              {% endfor %}
                                          </div>
                                          <a class="carousel-control-prev" href="#reviewImages{{ review.pk }}" role="button" data-slide="prev">
                                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                              <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="carousel-control-next" href="#reviewImages{{ review.pk }}" role="button" data-slide="next">
                                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                              <span class="sr-only">Next</span>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="col-md-5" style="border-left: 0.5px solid lightgray;">
                                          <div class="card-body pb-0">
                                              <div d-flex>
                                                <strong style="font-size: 13px;">{{ review.author }}</strong>
                                                <a class="ml-1 font-weight-bold text-decoration-none" href="" style="font-size: 13px;">팔로우</a>
                                                <div class="float-right">
                                                  {% if request.user == review.author %}
                                                    <a data-toggle="modal" href="#reviewUDList{{ review.pk }}">
                                                      <i class="fas fa-ellipsis-v mr-2 text-dark"></i>
                                                    </a>
                                                    <div class="modal modal-container modal" id="reviewUDList{{ review.pk }}" tabindex="-1" role="dialog">
                                                      <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                          <ul class="list-group text-center">
                                                              <form action="{% url 'reviews:movie_delete_review' movie.pk review.pk %}" method="POST" style="height: 50px; padding-top: 12px;">
                                                                {% csrf_token %}
                                                                <button class="btn btn-link text-dark text-decoration-none mt-0 pt-0">삭제하기</button>
                                                              </form>
                                                              <a class="text-decoration-none text-dark" href="{% url 'reviews:movie_update_review' movie.pk review.pk %}">
                                                                <li class="list-group-item modal-list">수정하기</li>
                                                              </a>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  {% endif %}
                                                  <i class="fas fa-times" data-dismiss="modal" style="cursor: pointer;"></i>
                                                </div>
                                              </div>
                                          </div>
                                          <hr style="width: 100%;">
                                          <div class="card-body pt-1" style="height: 300px; overflow-y: scroll;">
                                              <div class="d-flex">
                                                  <div class="mr-3">
                                                      <i class="fas fa-user-circle" style="font-size: 25px;"></i>
                                                  </div>
                                                  <div>
                                                      <strong>{{ review.author }}</strong>
                                                      <span>{{ review.content }}</span>
                                                      <br>
                                                      <span style="font-size: 14px; opacity: 0.5;">{{ review.created_at }}</span>
                                                  </div>
                                              </div>
                                              <div id="commentList{{ review.pk }}">
                                                  {% for comment in review.review_comments.all %}
                                                    <p id="comment{{ comment.pk }}">
                                                        <strong>{{ comment.author }}</strong> 
                                                        <span>{{ comment.opinion }}</span>
                                                        <br>
                                                        {% if user in comment.like_users.all %}
                                                        <i data-movie_pk="{{ movie.pk }}" data-review_pk="{{ review.pk }}" data-comment_pk="{{ comment.pk }}" class="js-comment-like-button fas fa-heart" style="color:red;font-size: 15px; cursor: pointer;"></i>
                                                        {% else %}
                                                        <i data-movie_pk="{{ movie.pk }}" data-review_pk="{{ review.pk }}" data-comment_pk="{{ comment.pk }}" class="js-comment-like-button far fa-heart" style="color:black;font-size: 15px; cursor: pointer;"></i>
                                                        {% endif %}
                                                        <span>{{ comment.created_at }}</span>
                                                        <span style="font-size: 15px" id="commentLikeCount{{ comment.pk }}">좋아요 {{ comment.like_users.all|length }}개</span>
                                                        {% if comment.author == user %}
                                                            <span data-movie_pk="{{ movie.pk }}" data-review_pk="{{ review.pk }}" data-comment_pk="{{ comment.pk }}" class="js-comment-delete-button">댓글 삭제</span>
                                                        {% endif %}
                                                    </p>
                                                  {% endfor %}
                                              </div>                                              
                                          </div>
                                          <hr style="width: 100%;">
                                          <div class="card-body py-0">
                                              <div>
                                                {% if user in review.like_users.all %}
                                                    <i data-movie_pk="{{ movie.pk }}" data-review_pk="{{ review.pk }}" class="js-like-button fas fa-heart" style="color:red;font-size: 25px; cursor: pointer;"></i>
                                                {% else %}
                                                    <i data-movie_pk="{{ movie.pk }}" data-review_pk="{{ review.pk }}" class="js-like-button far fa-heart" style="color:black;font-size: 25px; cursor: pointer;"></i>
                                                {% endif %}
                                                  <i data-review_pk="{{ review.pk }}" class="js-comment-button far fa-comment mx-2" style="font-size: 25px;"></i>
                                              </div>
                                              <div class="mb-2">
                                                  <strong style="font-size: 15px" id="reviewLikeCount{{ review.pk }}">좋아요 {{ review.like_users.all|length }}개</strong>
                                              </div>
                                          </div>
                                          <form class="comment-form input-group" action="{% url 'reviews:comment_create' movie.pk review.pk %}" method="POST">
                                              {% csrf_token %}
                                              <input type="text" id="opinion{{ review.pk }}" class="opinion form-control" name="opinion" placeholder="댓글달기" aria-label="Recipient's username">
                                              <div class="input-group-append">
                                                  <button class="btn btn-default" style="margin-bottom: 16px; color: skyblue;">게시</button>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
  {% endblock %}
  {% block script %}
  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script> // 리뷰 좋아요 기능 비동기 구현
        const buttons = document.querySelectorAll('.js-like-button')

        buttons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                const moviePk = event.target.dataset.movie_pk
                const reviewPk = event.target.dataset.review_pk
                axios.get(`/reviews/${moviePk}/${reviewPk}/like/`)
                .then(res => {
                    const reviewLikeCount = document.querySelector(`#reviewLikeCount${reviewPk}`)
                    if (res.data.is_liked) {
                        event.target.style.color = "red"
                        event.target.className = "js-like-button fas fa-heart"
                    } else {
                        event.target.style.color = "black"
                        event.target.className = "js-like-button far fa-heart"
                    }
                    reviewLikeCount.innerText = "좋아요 " + res.data.like_count + "개"
                })
            })
        })
        </script>

<script> // 댓글 아이콘 커서 위치 이동 구현
        const commentButtons = document.querySelectorAll(`.js-comment-button`)
        commentButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                const reviewPk = event.target.dataset.review_pk
                document.querySelector(`#opinion${reviewPk}`).focus()
        })
        })
    </script>

    <script> // 댓글 생성 기능 비동기 구현
        const commentForms = document.querySelectorAll('.comment-form')
        commentForms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault()
                
                const data = new FormData(event.target)

                axios.post(event.target.action, data)
                .then(function(response){
                    const comment = response.data
                    const commentList = document.querySelector(
                        `#commentList${comment.review_pk}`)
                    const newComment = `<p>
                                        <strong>${comment.author}</strong> 
                                        <span>${comment.opinion}</span>
                                        <br>
                                        <i data-movie_pk="${comment.movie_pk}" data-review_pk="${comment.review_pk}" data-comment_pk="${comment.comment_pk}" class="js-comment-like-button far fa-heart" style="color:gray;font-size: 15px;"></i>
                                        <span>${comment.date}</span>
                                        <span style="font-size: 15px" id="commentLikeCount${comment.comment_pk}">좋아요 ${comment.like_users}개</span>
                                            <a href="/reviews/${comment.movie_pk}/${comment.review_pk}/${comment.comment_pk}/delete/">댓글 삭제</a>
                                        </p>`
                    commentList.insertAdjacentHTML('beforeEnd', newComment)
                    event.target.reset()
                })

            })
        })
    </script>
    <script> //댓글 삭제 기능 비동기 구현
        const commentDeleteButtons = document.querySelectorAll('.js-comment-delete-button')
        commentDeleteButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault()
                const moviePk = event.target.dataset.movie_pk
                const reviewPk = event.target.dataset.review_pk
                const commentPk = event.target.dataset.comment_pk
                const comment = document.querySelector(`#comment${commentPk}`)
                axios.get(`/reviews/${moviePk}/${reviewPk}/${commentPk}/delete/`)
                .then(
                    comment.style.display = "none"
                    )
                })
            })
            </script>
    <script> // 댓글 좋아요 기능 비동기 구현
        const commentLikeButtons = document.querySelectorAll('.js-comment-like-button')
        
        commentLikeButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                const moviePk = event.target.dataset.movie_pk
                const reviewPk = event.target.dataset.review_pk
                const commentPk = event.target.dataset.comment_pk
                axios.get(`/reviews/${moviePk}/${reviewPk}/${commentPk}/like/`)
                .then(res => {
                    const commentLikeCount = document.querySelector(`#commentLikeCount${commentPk}`)
                    if (res.data.is_liked) {
                        event.target.style.color = "red"
                        event.target.className = "js-comment-like-button fas fa-heart"
                    } else {
                        event.target.style.color = "black"
                        event.target.className = "js-comment-like-button far fa-heart"
                    }
                    commentLikeCount.innerText = "좋아요 " + res.data.like_count + "개"
                })
            })
        })
        </script>

{% endblock %}
<!-- 
{% load static %}

{% block js %}
    <link rel="stylesheet" href="{% static 'js/review_like.js' %}">
{% endblock %} -->