{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts_form.css' %}">
{% endblock %}

{% block body %}
    <div class="update-container">
        <strong class="form-title">
            <p class="mt-3">Instagram</p>
        </strong>
        <form class="form-container mt-4" method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            <button class="btn text-white button-update mt-3">수정</button>
        </form>
    </div>
{% endblock %}