{% load static %}

{% block nav_css %}
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

<nav class="navbar navbar-light bg-default custom-nav">
    <a class="navbar-brand" href="{% url 'home:home' %}">
      <strong class="title">Moviestagram</strong>
    </a>
    <form action="{% url 'movies:movie_list' %}">
      <input id="max_searchbar_size" name="movieTitle" class="search-bar" type="text" placeholder="검색">
    </form>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link pr-3" href="{% url 'home:home' %}">
          <i class="fas fa-home menu-list"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link pr-3 dropdown-toggle" data-display="static" data-toggle="dropdown" href="#">
          <i class="far fa-heart menu-list"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right py-0" style="width: 400px;">
          <ul class="list-group">
            {% for movie in request.user.like_movies.all %}
            <a href="{% url 'reviews:movie_review_list' movie.pk %}">
              <li id="movieTitle{{ movie.pk }}" class="list-group-item">
                <img src="https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}" alt="" width="60px" height="60px">
                <span>{{ movie.title }}</span>
                <div class="float-right mt-3">
                  <button data-movie_pk="{{ movie.pk }}" class="movieLikeCancelButton btn text-white" style="font-size: 10px; background-color: rgb(253, 219, 225);">좋아요 취소</a>
                </div>
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' request.user %}">
              <i class="fas fa-user-circle user-icon"></i>
            </a>
        </li>
      {% endif %} 
    </ul>
</nav>