.card-body::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 992px) {
    #moviePoster {
        display: none;
    }
    
    #movieDetail {
        width: 100%;
    }
}